$gradient-start: #d9c9e9;
$gradient-left: #ccc3fc;
$grandient-middle: #c4c3fd;
$gradient-right: #b3c4fa;
$gradient-end: #b3dcf7;
$split-color: #d7d6fd;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.center-v {
  align-items: center;
}

.center-h {
  justify-content: center;
}

.profile-card {
  color: #f0f0f0;
  text-transform: uppercase;

  width: 350px;
  height: 450px;
  border-radius: 3px;
  background-color: #f0f0f0;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 2px 10px 4px #ccc;

  * {
    display: inline-block;
  }

  .info {
    width: calc(100% - 30px);
    height: 135px;
    padding: 15px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    background-image: linear-gradient(
      30deg,
      $gradient-start,
      $gradient-left,
      $grandient-middle,
      $gradient-right,
      $gradient-end
    );

    .header {
      font-weight: normal;
      font-size: 1.2em;
      font-family: 'Lato', sans-serif;

      display: flex;

      .logo {
        width: 125px;
        display: inline-block;
      }

      .logo + .response {
        margin-left: 15px;
      }

      .response {
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: 0.65em;

        .title {
          display: block;
          font-size: 2.4em;
          text-transform: none;
        }
      }
    }
  }

  .contents {
    color: #333;
    font-size: 0.8em;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    a,
    .button {
      width: 110px;
      height: 35px;

      text-decoration: none;
      color: inherit;
      background-color: $grandient-middle;

      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 45px;

      border-radius: 2px;
      border: 1px solid $gradient-right;

      + a, .button {
        margin-left: 15px;
      }
    }
  }
}
